body {
    font-family: Rajdhani;
    background-image: url(./imagens/fundo.jpg);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.2rem;
    margin-top: 250px;
}

p{
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

}

section input {
    width: 30rem;
    border: none;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    color: #45474b;
    font-size: 1rem;
    box-sizing: border-box;
}

section button {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #000000;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

section button:hover {
    background-color: #000000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 2);
}

.resultados-pesquisas {
    width: 61rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
}

.resultados-pesquisas ul {
    list-style: none;
}

.descricao-meta {
    color: #45474b;
    margin: 0.5rem 0;
}

.item-resultado {
    background: #ffffff;
    border-radius: 0.6rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60vw;
    display: flex;
    align-items: center;
}

.item-resultado img {
    width: 200px;
}

.item-resultado h2 {
    font-size: 1.5rem;
    color: #000000;
    width: 200px;
    display: flex;
    justify-content: center;
}

.item-resultado a {
    text-decoration: none;
    color: #30475e;
}

.item-resultado a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f5f7f8;
    color: #000000;
    text-align: center;
    padding: 0;
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-size: 1rem;
}

@media(max-width: 768px) {
    h1 {
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }

    section input {
        width: 25rem;
        padding: 0.8rem;
    }
}

@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
    }

    section input {
        width: 17rem;
    }

    section button {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }

    footer {
        font-size: 0.9rem;
    }
}